[Unit]
Description = Run test monitoring every minute
Requires = test.service

[Timer]
OnBootSec = 1min
OnCalendar=*-*-* *:*:00
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
