[Unit]
Description = This is a monitoring test
After = network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/monitoring.sh
DynamicUser=yes
ProtectSystem=yes
ProtectHome=yes

StandardOutput=journal
StandardError=journal
